* {
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 90vh;
  color: #fff;
  background-color: #5a4fff;
}

.wrapper {
  padding-top: 102px;
  padding-bottom: 102px;
}

.container {
  max-width: 1264px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 64px;
  padding-left: 64px;
}

/* header */

header svg {
  padding-bottom: 20px;
}

header p {
  font-size: 24px;
  color: hsla(0, 0%, 100%, 0.6);
  padding-bottom: 40px;
}

/* projects */

.subheading {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

article {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #7066ff;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition: all 0.2s ease-in-out;
}

article:hover {
  transform: scale(1.1);
}

article h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
}

a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.p-40 {
  padding: 23px 36px;
}

.mt-8 {
  margin-top: 8px;
}

/* .projects */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 196px;
}

.first-column {
  grid-area: 1 / 1 / 3 / 2;
}

.second-column {
  grid-area: 2 / 2 / 3 / 3;
}

/* Responsiveness */

@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 48px
  }

  .container {
    padding: 0px
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .first-column {
    grid-area: 1 / 1 / 2 / 2;
  }
  .second-column {
    grid-area: 2 / 1 / 3 / 2;
  }

  .more {
    padding-bottom: 20px;
  }
}
